﻿@model _439MMO.Models.CharacterSearch
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @using(Html.BeginForm("UserInfo", "Home", FormMethod.Post)){
        @Html.LabelFor(model => model.CharName)
        <div class="form-group">
            @Html.TextBoxFor(model => model.CharName, new { @class = "form-control" })
        </div>
    }
</div>

