﻿@model List<_439MMO.PlayerCharacter>

@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Level
        </th>
        <th>
            AchievementPoints
        </th>
        <th>
            LastUpdated
        </th>
        <th>
            Email
        </th>
        <th>
            Class
        </th>
        <th>
            Realm
        </th>
        <th>
            Specialization
        </th>
        <th>
            Race
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AchievementPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realm.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
